* {
  font-family: "monospace";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(20, 20, 20, 0.93);
  color: #ffffff;
  opacity: 0.93;
}

#clock, #wireplumber, #custom-mic, #backlight, #battery, #network {
  padding: 0 8px;
}

#battery.warning {
  color: #e5c07b;
}

#battery.critical {
  color: #e06c75;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  to {
    opacity: 0.4;
  }
}

